.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
    .black-on-print{
        color: black !important;
    }
    .bold-on-print{
        font-weight: bold !important;
    }
    .no-margin-left-on-print{
        margin-left: 0 !important;
        width: 100% !important;
    }
    .shoppingCartList-articleDivider {
        display: flex !important;
        margin-bottom: 0 !important;
    }
    .orderDetail-divider {
        border-top: 2px solid !important;
    }
}

/* xs */
@media screen and (max-width: 600px) {
    div.mobile .hide{
        display: none;
    }
    .MuiTypography-h2/*div.mobile .MuiTypography-h2, .MuiTypography-h2.mobile*/ {
        font-size: 3rem !important;
        font-weight: 300 !important;
        line-height: 1 !important;
        /*color: blue !important;*/
        letter-spacing: 0.0066em !important;
    }
    div.mobile .MuiTypography-h4, .MuiTypography-h4.mobile {
        font-size: 1.7rem !important;
        font-weight: 400 !important;
        line-height: 1 !important;
        /*color: yellow !important;*/
        letter-spacing: 0.00588em !important;
    }
    div.mobile .MuiTypography-h5, .MuiTypography-h5.mobile {
        font-size: 1.2rem !important;
        font-weight: 400 !important;
        line-height: 1.07 !important;
        /*color: green !important;*/
        letter-spacing: 0.001em !important;
    }
    div.mobile .MuiTypography-h6, .MuiTypography-h6.mobile {
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.28 !important;
        /*color: magenta !important;*/
        letter-spacing: 0.006em !important;
    }
    div.mobile .MuiTypography-body1, .MuiTypography-body1.mobile {
        font-size: .8rem !important;
        font-weight: 400 !important;
        line-height: 1.2 !important;
        /*color: red !important;*/
        letter-spacing: 0.0075em !important;
    }
    div.mobile .shoppingCartImage {
        width: 60px !important;
        height: 60px !important;
    }
    div.mobile .MuiIconButton-root {
        padding: 6px !important;
        font-size: 1.5rem;
    }
    .articleView-image {
        height: 200px !important;
        width: 200px !important;
    }
    .articleView-infoCard {
        min-height: initial !important;
    }
    .orderDetail-paddingRight {
        padding-right: initial !important;
    }
    .gridItem {
        padding: 8px !important;
    }
    .albumOverview-infiniteScroll {
        padding-left: 9px !important;
        padding-top: 9px !important;
    }
}

.files button {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 140px 50% 85px 50%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files button:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://www.psyshop.com/pic/Downloads.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.image-opacity:after {
    opacity: 0.8;
}

.color input {
    background-color: #f1f1f1;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #ffffff;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
